body{
    min-height: 850px !important;
}
/*--------- Couleurs ---------*/

/* background (main page) */
.bg-primary{
    background: #353440 !important;
}

/* secondary background (main page) */
.bg-secondary-subtle{
    background : #3F3E4A  !important;
}

/* buttons and text background (modals)*/
.bg-dark-subtle{
    background : #2A2C2E !important;
}


/* buttons border and title border bottom (modals)*/
.border-secondary-subtle{
    border-color: #393b3e !important;
    color: #4d4b5f ;
    color: #272727;
}

/*---------- Police ----------*/

.fs-7{
    font-size: 15px;
}

p, #p{
    font-size: small;
}

/*---------- Ombres ----------*/

.shadow{
    box-shadow: 0 0 1rem #2b2b30 !important;
}

.shadow-lg{
    box-shadow: 0 1rem 1rem #2b2b2b !important;
}

/*----------- Buttons -----------*/

.btn-outline-secondary{
    border: 1px solid #393b3e !important;
    transition: none;
}

.btn-outline-secondary:hover{
    border: none !important;
    background: #ffffff41 !important;
}

.offcanvas .btn-close {
    top: 16px;
    left: 40px;
    border: 2px solid;
    opacity: 0.9;
    font-size: 13px;
    padding: 10px !important;
}

svg:hover{
    transition: 500ms;
    fill: rgba(255, 255, 255, 0.822)  !important;
}


/*----------- Chat Input -----------*/

input{
    outline : none;
}

/*------------- Hover --------------*/

.bi-send-fill:hover{
    color :#dadada !important;
    transform: scale(1.55) !important;
    transition: 300ms;
} 

.btn.bg-dark-subtle:hover{
    background: #353440 !important;
}

.offcanvas-backdrop {
    background-color: #67687aaf;
}

  @media(min-width:768px){
    #navbar{
        position: sticky;
        z-index: 2;
        top: 0;
    }
  }

  #qa-section i:hover{
    color: white;
    cursor: pointer;
    transition: 400ms;
  }